html {
    height:100%;
} 
    body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    height:100%;
}

input {
    background-color: white;
    border: 0px;
    height: 40px;
    width: 60%;
    padding-left: 30px;
}

button {
    background-color: rgb(140, 224, 13);
    color: rgb(249, 252, 249);
    border: 0;
    height: 35px;
    padding-left: 5px 5px;
    text-align: right;
    float: right;
    border: 1px solid white;
}

div {
    background-color: rgb(146, 35, 35);
    height: 38px;
}

p {
    box-sizing: border-box;
    background-color: rgb(252, 252, 252);
    color: rgb(165, 162, 162);
    margin: 1px 0px 0px 0px;
    height: 40px;
    padding: 0px 0px 0px 20px;
}

.appwindow {
    background-color: rgb(3, 92, 3);
    color: rgb(3, 3, 3);
    position: absolute;
    width: 350px;
    height: 500px;
}

.appheader {
    background-color: green;
    color: white;
    padding: 7px;
    height: 30px;
    text-align: right;
}

.appdialog {
    height: auto;
    background-color: white;
}

.appbody {
    height: 500px;
    overflow-y: scroll;
    background-color: green;
}

.fa fa-refresh fa-spin fa-3x fa-fw {
    font-size: small;
}
